In [1]:
### Run this cell before continuing. 
library(repr)
library(tidyverse)
options(repr.matrix.max.rows = 6) #limits output of dataframes to 6 rows

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
XOM_data <- read_csv("XOM.csv")

Rows: 12740 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl  (6): volume, open, high, low, close, adjclose
date (1): date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [3]:
XOM_data <- XOM_data |>
                mutate(year = substr(date, 1,4), month = substr(date, 6,7)) |>
                mutate(year = as.integer(year), month = as.integer(month))

In [4]:
Grouped_XOM <- XOM_data |>
                    group_by(year,month) |>
                    summarize(monthly_price_avg = mean(close, na.rm = TRUE),
                              monthly_vol_avg = mean(volume, na.rm = TRUE))

`summarise()` has grouped output by 'year'. You can override using the
`.groups` argument.

    year month monthly_price_avg monthly_vol_avg
1   1970 1     1.911086          1308648
2   1970 2     1.693668          3019116
3   1970 3     1.716704          3137371
⋮   ⋮    ⋮     ⋮                 ⋮
605 2020 5     44.49100          23859565
606 2020 6     47.61773          26588314
607 2020 7     43.89500          17742950